# .gitignore file

# Backup files
*~

# Lock files used by the Emacs editor.
.\#*

# Temporary files used by editors.
*.swp
*.orig
*.bak

# A hidden file created by the Mac OS X Finder.
.DS_Store

# python byte-code files
*.pyc
*.pyo

# Build/dist files
dist/*
build/*
pydicom.egg-info
distribute*.egg
distribute*.tar.gz
py3source
.tox/*
__pycache__
.eggs/*

# Docs build
docs/_build/*
doc/_build/*
doc/auto_examples/*
doc/generated/*
doc/reference/generated/*

# coverage.py files
.coverage

# PyCharm IDE files
*.idea*

# jupyter notebooks
*.ipynb
.ipynb_checkpoints/*
tests/test_pixel.py

# mypy
.mypy_cache

# vscode
.vscode/*

# virtualenv
env/
venv/
.venv/

# pytest
.pytest_cache

# airspeed velocity
asv/*
