# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.1
  hooks:
    - id: typos
      exclude: _.*_dict.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.292
  hooks:
  - id: ruff
    args: [src, --fix, --exit-non-zero-on-fix]
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black
