dist: trusty
sudo: false

language: python

cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/.ccache

matrix:
  include:
    - env: DISTRIB="conda" PYTHON_VERSION="2.7" NUMPY=false DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="2.7" NUMPY=true DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="2.7" NUMPY=false DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="2.7" NUMPY=true DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.4" NUMPY=false DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.4" NUMPY=true DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.4" NUMPY=false DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.4" NUMPY=true DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.5" NUMPY=false DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.5" NUMPY=true DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.5" NUMPY=false DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.5" NUMPY=true DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.6" NUMPY=false DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.6" NUMPY=true DEPS="pillow"
    - env: DISTRIB="conda" PYTHON_VERSION="3.6" NUMPY=false DEPS="gdcm"
    - env: DISTRIB="conda" PYTHON_VERSION="3.6" NUMPY=true DEPS="gdcm"
    - env: DISTRIB="pypy" PYTHON_VERSION="2.7" NUMPY=false
    - env: DISTRIB="pypy" PYTHON_VERSION="2.7" NUMPY=true
    - env: DISTRIB="pypy" PYTHON_VERSION="3.5" NUMPY=false
    - env: DISTRIB="pypy" PYTHON_VERSION="3.5" NUMPY=true
    - env: DISTRIB="ubuntu" PYTHON_VERSION="2.7" DEPS=false
    - env: DISTRIB="ubuntu" PYTHON_VERSION="2.7" DEPS=true
      addons:
        apt:
          packages:
              - python-numpy

install: source build_tools/travis/install.sh

script:
  - py.test --cov=pydicom pydicom

after_success:
  - codecov
