language: python
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy
    - pypy3.3-5.2-alpha1

env:
    # Ensure that pydicom functions with/without numpy
    - DEPS=true
    - DEPS=false

install:
    - if [[ $DEPS == true ]] && [[ $TRAVIS_PYTHON_VERSION != 'pypy' ]] && [[ $TRAVIS_PYTHON_VERSION != 'pypy3' ]]; then pip install numpy; fi
    - pip install coveralls
    - pip install coverage
    - pip install pytest
    - pip install pytest-cov
    - python setup.py install

script:
    - py.test --cov=pydicom 

after_success:
    - coveralls
