name: PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        # One Python version per OS, one combo does coverage
        # PyPy only has one line in pydicom (as of 2003-07) so cover in merge only
        # Macos unlikely to fail if ubuntu okay so also cover in merge
        os: [windows]
        python-version: ["3.12", "3.13"]
        test-numpy: [true]
        test-extras: [false]
        upload-coverage: [false]
        include:
          - os: ubuntu
            python-version: "3.11"
            test-numpy: true
            test-extras: true
            upload-coverage: true
          - os: macos
            python-version: "3.10"
            test-numpy: true
            test-extras: true
            upload-coverage: false
          # Pre-release Python
          - os: ubuntu
            python-version: "3.14"
            test-numpy: false
            test-extras: false
            upload-coverage: false
          - os: ubuntu
            python-version: "pypy3.10"
            test-numpy: true
            test-extras: false
            upload-coverage: false

    uses: ./.github/workflows/tests_wf.yml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
    with:
      os: ${{ matrix.os }}
      python-version:  ${{ matrix.python-version }}
      test-numpy: ${{ matrix.test-numpy }}
      test-extras: ${{ matrix.test-extras }}
      upload-coverage: ${{ matrix.upload-coverage }}
