name: Testsuite

on:
  push:
    branches-ignore:
      - master

jobs:
  Linter:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version:  [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: py${{ matrix.python-version }}-${{ matrix.os }}-pip

    - name: Get files changed
      id: diff-files
      run: >
        echo "::set-output name=files::$(git diff-tree -r --diff-filter=d 
        --name-only ${{ github.base_ref }} ${{ github.SHA }} | grep '\.py$')"

    - name: Install linter
      run: python -m pip install flake8
    - name: Syntax errors check
      run: |
        echo 'flake8 for files ${{ steps.diff-files.outputs.files }}'
        python -m flake8 --select=E901,E999,F821,F822,F823 ${{ steps.diff-files.outputs.files }}
    - name: Style warnings
      run: |    
        # exit-zero treats all errors as warnings
        python -m flake8 --exit-zero ${{ steps.diff-files.outputs.files }}

  build:
    needs: dummy # block for testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version:  [3.6, 3.7, 3.8]
        include:
          - os: ubuntu-latest
            python-version: 3.8
            jpeg-deps: pillow-jpegls
            gdcm-dep: gdcm
            coverage-args: --cov=pydicom --cov-append
            coverage: coverage
            
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get pip cache dir
      id: pip-cache
      run: |
        python -m pip install -U pip # to ensure version > 20 to have cache dir
        echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: py${{ matrix.python-version }}-${{ matrix.os }}-pip
    - name: Initial test environment setup
      run: |
        python -m pip install wheel 
        python -m pip install pytest pytest-cov
    - name: Test with no external libraries
      run: |
        pytest ${{ matrix.coverage-args }}
    - name: Install numpy
      run: |
        python -m pip install numpy
    - name: Test with numpy
      run: |
        pytest ${{ matrix.coverage-args }}
    - name: Set up Pillow and jpeg_ls
      if: ${{ matrix.jpeg-deps == 'pillow-jpegls' }}
      run: |
        python -m pip install pillow cython
        python -m pip install git+https://github.com/Who8MyLunch/CharPyLS
    - name: Run Pillow and jpeg_ls tests
      if: ${{ matrix.jpeg-deps == 'pillow-jpegls' }}
      run: |
        pytest ${{ matrix.coverage-args }}
    - name: Cache GDCM
      id: cache-gdcm
      if: ${{ matrix.gdcm-dep == 'gdcm' }}
      uses: actions/cache@v2
      with:
        path: gdcmbin
        key: GDCM

    - name: Build GDCM (if not in cache)
      if: ${{ matrix.gdcm-dep == 'gdcm' && steps.cache-gdcm.outputs.cache-hit != 'true' }}
      run: |
        sudo apt-get install -y --no-install-recommends build-essential swig python3-dev
        sudo apt-get install -y --no-install-recommends ninja-build
        git clone --branch release https://github.com/malaterre/GDCM.git
        mkdir gdcmbin
        cd gdcmbin
        cmake -GNinja -DGDCM_WRAP_PYTHON=ON -DGDCM_BUILD_SHARED_LIBS=ON  ../GDCM
        ninja  # alternative to `make`
        cd ..
    - name: Test with GDCM
      if: ${{ matrix.gdcm-dep == 'gdcm' }}
      run: |
        # Create super-simple setup.py for python -m pip install
        echo 'from setuptools import setup; setup(name="gdcm.py")' > gdcmbin/bin/setup.py
        python -m pip install -e gdcmbin/bin/
        python -c 'import gdcm; print(f"Using gdcm {gdcm.GDCM_VERSION}")'
        pytest ${{ matrix.coverage-args }}

    - name: Send coverage results
      if: ${{ success() && matrix.coverage == 'coverage' }}
      run: >
        bash <(curl --connect-timeout 10 --retry 10 --retry-max-time
        0 https://codecov.io/bash) || (sleep 30 && bash <(curl
        --connect-timeout 10 --retry 10 --retry-max-time
        0 https://codecov.io/bash))
